* {
  margin: 0;
  padding: 0;
}

.teacher {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.teacher-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.t-inputs {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.t-inputs-button {
  width: 70px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  align-self: center;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.error-label {
  display: flex;
  align-items: center;
}

.error-label p {
  margin: 0;
  text-align: center;
  margin-left: 10px;
}
